@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

/* @import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed'); */

@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('../public/proxima-nova/Mark\ Simonson\ \ Proxima\ Nova\ Condensed\ Bold\ Italic\ TheFontsMaster.com.otf');
    src: url('../public/proxima-nova/Mark\ Simonson\ \ Proxima\ Nova\ Extra\ Condensed\ Black\ Italic\ TheFontsMaster.com.otf');
    font-style: normal;
    }


body{
    overflow-x: hidden;
}
